@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #343F4F;
  padding: 20px;
}

.inner-wrapper {
  max-width: 1200px;
  position: relative;
}

.gallery {
  display: flex;
  overflow: hidden;
  gap: 10px;
}

.gallery img {
  width: calc(100%/3);
  object-fit: cover;
}

.button {
  position:absolute;
  font-size: 1rem;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  border: none;
}

.left {
  left: -20px;
}

.right {
  right: -20px;
}